<h2>User list</h2>
<table class="table">
  <tr>
    <th class="sortable" sortable="id" (sort)="onSort($event)">ID</th>
    <th class="sortable" sortable="name" (sort)="onSort($event)">Name</th>
    <th sortable="roles">Roles</th>
  </tr>
  <tr *ngFor="let user of users">
    <th sortable="id" (sort)="onSort($event)">{{user.id}}</th>
    <td>{{user.name}}</td>
    <td>
      <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Roles</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem *ngFor="let role of user.roles">{{role}}</button>

      </div>
    </div></td>
  </tr>

</table>
